{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book-index.css' %}"/>
{% endblock %}

{% block content %}

<section class="page-header">
  <h1>Book List</h1>

</section>

<section class="card-container">
  {% for book in books %}
    <div class="card">
      <a href="{% url 'books_detail' book.id %}">
      <div class="card-content">
        <div class="book-details">
          <div class="card-img-container">
            {% if book.photo.url %}
              <img 
                src="{{book.photo.url}}" 
                alt="A photo of {{book.title}}"
                class="usr-img"
                width="200" height="200"
              >
            {% else %}
            <img 
            src="{% static 'images/book lib.jpeg' %}" 
            alt="book"
            width="200" height="200"
          >
            {% endif %}
          </div>
        <h2 class="card-title">{{ book.title }}</h2>
        <p><small>{{ book.author }}</small></p>
      </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}