
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About The Book Maze</title>
</head>
<body>
  {% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center">About The Book Maze</h1>
<hr />
<h1 style="text-align:center">
  The Book Maze is an app that allows you to gather some of your favorite books and express your thoughts on why those books in particular are your favorite! This way you have a list of books you've read and enjoyed all in one place. 
</h1>
<center><img src="/static/images/books.jpeg" alt="library" 
/></center>

{% endblock %}
</body>
</html>