nav {
  margin-top: 10px;
  
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

main > section {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.logo-container {
  padding: 30px;
  margin-top: 50px;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1 {
  font-size: clamp(1.8rem, 3vw, 3rem);
  margin: 10px 0 16px 0;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login label {
  font-size: 2rem;
  margin-bottom: 8px;
}

.login input {
  font-size: 1.8rem;
  padding: 2px;
}

.login .btn {
  align-self: flex-end;
  margin-right: 0;
  margin-top: 10px;
}

.login-border {
  padding: 100px;
  border-radius: 50px;
  border: 5px solid black;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-right: 75em;
  margin-left: 75em;
}
h1 {
  font-size: 3em;
}